@page "/"
@using PGTech_io.Controllers
@using PGTech_io.Models
@inject SolicitationController SolicitationController
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.